/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ------------------
    common style 
--------------------*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .container{
     width: 870px;
     background-color: white;
     padding: 30px;
     margin-bottom: 21px;
     border-radius: 5px;
 }

/*--------------------
 style of top players 
 --------------------*/
 .section-title{
     color: #562EFF;
     font-size: 24px;
     margin-top: 3px;
 }
 .players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
 }
 .player{
     display: flex;
     align-items: center;
 }
 .player img{
    width: 56px;
    height: 56px;
 }
 .player-name{
     padding-left: 16px;
 }
 hr{
    border:1px solid #D1D1D1;
    margin-top: 30px;
 }
 /* ----------------
 end of top players 
 ------------------*/

 /* ----------------
 Start of top Blogs 
 ------------------*/
 .top-blogs{
     margin-top: 27px;
 }
 .blogs{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-row-gap: 26px;
     grid-column-gap: 76px;
 }
 .blog{
     display: flex;
    
 }
 .thumbnil img{
    width: 177px;
    height: 117px;
 }
 .author-info{
     margin-left: 16px;
 }
 .blog-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    margin-top: 0px;
    margin-bottom:0px;
 }
 .author-name{
     font-size: 16px;
     margin-top: 6px;
 }
 .author-name{
    color: #9F9F9F;
 }
 .author-name a{
     text-decoration: none;
 }
 /* ----------------
 End of top Blogs 
 ------------------*/

 /* ----------------
 Start of Latest Courses 
 ------------------*/
 .courses{
     display: flex;
     justify-content: space-between;
 }
 .course{
    width: 252.42px;
    height: 269.79px;
    box-sizing: border-box;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
 }
 .course-banner img{
    width: 224px;
    height: 104px;
 }
 .course-title{
     margin-bottom: 0px;
     font-size: 20px;
     font-weight: 500px;
 }
 .course-author{
    color: #ED6B4F;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
 }
 .course-info{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .course-info .fa-star{
    color: #FFC014;
    font-size: 12px;
 }
 .course-info .unfilled{
    color: #AEAEAE;
    opacity: 0.25;
 }
 .course-info span{
     color: #A2A2A2;
     font-size: 15px;
 }
 .course-duration{
    background: #FEE5DF;
    color: #ED6B4F;
    width: 94px;
    height: 29px;
    padding:3px;
    border-radius: 15px;
    text-align: center;
 }
/* ------------
media querys 
-------------*/

/* mobile device */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .players,.blogs,.courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player,.blog{
        flex-direction: column;
        align-items: center;
    }
    .courses{
        flex-direction: column;
        align-items: center;
    }
}
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players,.blogs{
        grid-template-columns: repeat(2,1fr);
    }
    .player,.blog{
        flex-direction: column;
        align-items: center;
    }
    .blogs{
        grid-column-gap:10px;
    }
    .courses{
        grid-template-columns: repeat(1,fr);
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}